# Telegram (dari @BotFather — gratis)
TELEGRAM_BOT_TOKEN=your_token

# WhatsApp Fonnte (gratis di fonnte.com)
FONNTE_TOKEN=isi_token_fonnte

# Google Gemini — GRATIS di aistudio.google.com
GEMINI_API_KEY=your_token

# GROQ API Keys
GROQ_API_KEY=your_token

SPREADSHEET_ID=your_spreadsheet_id

PORT=8000

# Run Project 
# python telegram_bot.py